* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/background-swapi.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.people {
  margin: 50px;
}

.people__information {
  margin: 20px 30px 30px 30px;
  background-color: rgba(250, 235, 215, 0.1);
  display: flex;
  color: white;
}

.people__pagination {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.people__button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  border-radius: 100%;
  border: #33ff00 2px solid;
  background-color: #000000;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.people__button:hover {
  border: white dotted 2px;
  color: #33ff00;
}

.people__button--active {
  background-color: blue;
  color: #ff0000;
  border: black dotted 2px;
}

.people__button--absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.people__search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.people__filter {
  padding: 10px;
  color: black;
  font-size: 24px;
  border: #33ff00 5px solid;
  outline: none;
}

.people__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.people__content {
  position: relative;
  flex: 1 1 calc(45% - 30px);
  min-width: 170px;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 20px;
  background-color: #000000;
  line-height: 28px;
}

.people__description {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.people__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  border: 2px transparent solid;
  padding: 5px;
  cursor: pointer;
}

.people__name:hover {
  color: #33ff00;
  outline: none;
}

.people__gender,
.people__birth-year,
.people__height,
.people__mass,
.people__eye-color,
.people__hair-color,
.people__skin-color {
  padding: 10px;
}

.people__subtitle {
  color: rgb(60, 216, 21);
  text-transform: uppercase;
}
